@font-face {
	font-family: 'bestquality';
	src:url('../fonts/bestquality.eot?-mnub3c');
	src:url('../fonts/bestquality.eot?#iefix-mnub3c') format('embedded-opentype'),
		url('../fonts/bestquality.woff?-mnub3c') format('woff'),
		url('../fonts/bestquality.ttf?-mnub3c') format('truetype'),
		url('../fonts/bestquality.svg?-mnub3c#bestquality') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bestquality';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e601";
}
.icon-trash:before {
	content: "\e602";
}
.icon-list-view:before {
	content: "\e603";
}
.icon-upload:before {
	content: "\e604";
}
.icon-delete:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}