@font-face {
	font-family: 'bestquality';
	src:url('../fonts/bestquality.eot?-hfz6zh');
	src:url('../fonts/bestquality.eot?#iefix-hfz6zh') format('embedded-opentype'),
		url('../fonts/bestquality.woff?-hfz6zh') format('woff'),
		url('../fonts/bestquality.ttf?-hfz6zh') format('truetype'),
		url('../fonts/bestquality.svg?-hfz6zh#bestquality') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bestquality';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e601";
}
.icon-cog:before {
	content: "\e608";
}
.icon-trash:before {
	content: "\e602";
}
.icon-list-view:before {
	content: "\e603";
}
.icon-upload:before {
	content: "\e604";
}
.icon-delete:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-googleplus:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}

